<div class="partnerouter">
 <div class="partnerarea">
    <div class="container">
        <div class="row">
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic1.png') %></div>     
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic2.png') %></div>     
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic3.png') %></div>     
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic4.png') %></div>     
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic2.png') %></div>  
               </div>
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
                   <div class="part-box"><%= image_tag('partner_pic5.png') %></div>     
               </div>
       </div>
    </div>
  </div>
</div>