<div class="boxarea_services">
   <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
               <div class="row">
                   		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic1.jpg')%>
                                </div></div>
                                <h4>Weight Loss </h4>
                                <span class='details'>READ MORE</span> 
                            </a>
                  	   </div>
                   	   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter">
                                <div class="percircle">
                                	<%= image_tag('service_pic2.jpg') %>
                                </div>
                                </div>	
                                <h4>Pregnancy Diet </h4>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                	<%= image_tag('service_pic3.jpg') %>
                                </div></div>
                                <h4>Blood Pressure care </h4>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                   		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic4.jpg') %>
                                </div></div>
                                <h4>diabetic diet </h4>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                   	   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic5.jpg') %>
                                </div></div>
                                <h4>Healthy Diet for Senior Citizens </h4>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic6.jpg') %>
                                </div></div>
                                <h4>Weight Gain Program </h4>
                                <span>READ MORE </span>
                            </a>
                  	   </div>                            
               </div>
           </div>
        </div>
      </div>         
</div>