<div class="boxarea">
   <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
               <h2>Services <strong>Offered</strong></h2>
               <div class="row">
                   		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic1.jpg')%>
                                </div></div>
                                <h4>WEight Loss </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                   	   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter">
                                <div class="percircle">
                                	<%= image_tag('service_pic2.jpg') %>
                                </div>
                                </div>	
                                <h4>Pregnancy Diet </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                	<%= image_tag('service_pic3.jpg') %>
                                </div></div>
                                <h4>Blood Pressure care </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                   		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic4.jpg') %>
                                </div></div>
                                <h4>diabetic diet </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                   	   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic5.jpg') %>
                                </div></div>
                                <h4>Health snacks </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percirclearea">
                                <div class="percircleouter"><div class="percircle">
                                <%= image_tag('service_pic6.jpg') %>
                                </div></div>
                                <h4>fitness & exercise </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <span>READ MORE </span>
                            </a>
                  	   </div>                            
               </div>
           </div>
        </div>
      </div>         
</div>