<div class="innerpgcont">
	<div class="container">
        <div class="row">           
           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="mainhdarea">
                <h2><%= @service.title %> </h2>
                    <h3>
                      <i class="fa fa-medkit" aria-hidden="true"></i>Details
                    </h3>
                    <p>
                      <%= @service.description%>
                    </p>
                    <br class="clear" />
              </div>
           </div>             
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="lftlink">                    
                    <h2>Our Services </h2>
                    <ul>
                      <% @services.each do |service| %>
                        <li class=<%= selected(params[:id], service)%>>&gt; &nbsp; <%= link_to service.title, service_detail_path(service) %>
                        </li>
                      <% end -%>  
                    </ul>
                </div>
            </div>
        </div>
     </div>
</div>

<div class="packagearea">
  <div class="container">
    <div class="row">
      <h2>Our <span>Packages</span></h2>
      <% @service.packages.each do |pkg| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 boxdivider">            
          <div class="circle"><span><%= pkg.duration%></span></div>
            <h4>Month </h4>
            <h5><%= pkg.price%> <span>INR</span></h5>
            <%= link_to 'Enroll Now', redirect_location %>
        </div>
      <%end%>
    </div>
  </div>
</div>