<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wise Nutrition - Online Diet Clinic By Dietitian Karishma Saxena | Dietetics Expert </title>
    <meta name="description" content="Dietitian, NOIDA - A dietetic approach to weight loss by one of the best dietician/nutritionists in Noida. Lose weight, diabetes, BP, thyroid, insomnia, stress with healthy diet and nutrition." />
    <meta property="og:title" content="Wise Nutrition - Online Diet Clinic by Dietitian Karishma Saxena" />
    <meta property="og:description" content="A dietetic approach to weight loss by an expert dietician/nutritionist. Lose weight, diabetes, BP, thyroid, insomnia, stress with healthy food and nutrition. No medicines!" />
    <meta property="og:url" content="http://wisenutrition.in/" />
    <meta property="og:site_name" content="Wise Nutrition - Online Diet Clinic by Dietitian Karishma Saxena" />
    <meta name="twitter:card" content="summary" />
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', 'bootstrap','style', 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery1.11.3.min', 'jquery.flexslider', 'bootstrap',
    							'responsiveCarousel', 'data-turbolinks-track': 'reload' %> 
</head>

<body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email" class="control-label">Your Email</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Your Password</label>
            <input type="password" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit" name="submit" value="Sign In" />
        <a href="#" class="fptxt" data-toggle="modal" data-target="#exampleModal2" data-whatever="">Forgot Password? </a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Recover Your Password</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email" class="control-label">Your Email</label>
            <input type="text" class="form-control" value="" placeholder="Enter Email" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit" name="submit" value="Recover Your Password" />
        <a href="#" class="fptxt" data-toggle="modal" data-target="#exampleModal" data-whatever="" id="recoverbtn">Recover Your Password </a>
      </div>
    </div>
  </div>
</div>


    
<%= render '/layouts/shared/header'%>   
<%= render '/layouts/shared/slider'%>
<%= render '/layouts/shared/services'%>
<%#= render '/layouts/shared/success'%> 
<%#= render '/layouts/shared/booking'%>
<%#= render '/layouts/shared/media'%>
<%= render '/layouts/shared/testimonials'%>
<%= render '/layouts/shared/footer'%>

<script>

jQuery(document).ready(function($){
	$('.gallery-01').carousel({ visible:1, itemMinWidth:740, itemMargin:60, autoRotate:6000, speed:1000});
});
</script>

<!--<script src="js/jquery.flexslider.js"></script>-->
<%= javascript_include_tag 'jquery.flexslider', 'data-turbolinks-track': 'reload' %>	   
<script type="text/javascript">
	$(window).load(function(){
	  $('.flexslider').flexslider({
	    animation: "fade",
	    slideshow: true,
	  });
	});
</script> 

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
})

//Google analytics code starts
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101946177-1', 'auto');
  ga('send', 'pageview');
// Google analytics code ends  
</script>
</body>
</html>
