<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wise Nutrition : <%= @title.present? ? @title : 'Online Diet Clinic By Dt. Karishma Saxena'%>:  </title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', 'bootstrap','style', 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery1.11.3.min', 'jquery.flexslider', 'bootstrap',
                  'responsiveCarousel', 'data-turbolinks-track': 'reload' %> 
</head>

<body>
    
<%= render '/layouts/shared/header'%>
 
<%= yield %>

<!--
<div class="regouter">
  <div class="container">
     <div class="row">
    	 <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
           	   <div class="regarea">
                     		<h2>Register to Begin Your Consultation </h2>
                            <div class="regform">
                                <form name="reg" method="post" action="">
                                        <input type="text" name="name" value="" placeholder="Enter Name" />
                                        <input type="text" name="email" value="" placeholder="Enter Email" />
                                        <input type="password" name="password" value="" placeholder="Password" />
                                        <input type="text" name="phone" value="" placeholder="Enter Phone Number" />
                                        <input type="submit" value="Sign Up" class="subbtn" />
                                        <p>Already have an account? </p>
                                        <a href="#" class="signinbtn">Sign In </a>
                                </form>
                            </div>
               </div>
         </div>
      </div>
   </div>
</div>
     
-->     
     
<footer class="footerbg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
                    <p>Copyright &copy; 2017 | <a href="#">wise nutrition</a>. All rights reserved </p>    
                    <ul class="ftr-socialicons">
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                    </ul> 
                </div>
            </div> 
         </div>
</div>   
     
    
    
    
    

<!--  Javascript 
=================================-->   
<script src="js/jquery1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>

<script src="js/responsiveCarousel.js"></script>
<script>
jQuery(document).ready(function($){
	$('.gallery-01').carousel({ visible:1, itemMinWidth:740, itemMargin:60, autoRotate:6000, speed:1000});
});
</script>

<script src="js/jquery.flexslider.js"></script>	   
<script type="text/javascript">
                $(window).load(function(){
                  $('.flexslider').flexslider({
                    animation: "fade",
                    slideshow: true,
                  });
                });
</script> 
</body>
</html>